flows.json
[{"id":"9af89546.9e2eb8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"7d6862d2.77c68c","type":"debug","z":"9af89546.9e2eb8","name":"temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"de74ff81.8bf398","type":"mqtt in","z":"9af89546.9e2eb8","name":"temperature 1","topic":"esp1/t1","qos":"0","datatype":"auto","broker":"d3afa9c6.cb671","nl":false,"rap":true,"rh":0,"x":350,"y":100,"wires":[["7d6862d2.77c68c","16b781bf.0ed2b6","8a1f5909.21e8c","a517f98c.1ca658"]]},{"id":"2172637.77a1d9c","type":"mqtt in","z":"9af89546.9e2eb8","name":"humidite 1","topic":"esp1/h1","qos":"0","datatype":"auto","broker":"d3afa9c6.cb671","nl":false,"rap":true,"rh":0,"x":340,"y":400,"wires":[["a2189d17.e14b","9f720561.7ae0f","8eb1d23d.a17a4","a517f98c.1ca658"]]},{"id":"9f720561.7ae0f","type":"debug","z":"9af89546.9e2eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":340,"wires":[]},{"id":"16b781bf.0ed2b6","type":"ui_gauge","z":"9af89546.9e2eb8","name":"Température Sonde 1","group":"bb2ad0fe.ebbda","order":1,"width":4,"height":3,"gtype":"gage","title":"Sonde 1","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":100,"wires":[]},{"id":"937e6e6c.67e42","type":"debug","z":"9af89546.9e2eb8","name":"t2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":220,"wires":[]},{"id":"b6d69e32.2733f8","type":"mqtt in","z":"9af89546.9e2eb8","name":"température 2","topic":"esp2/t2","qos":"0","datatype":"auto","broker":"d3afa9c6.cb671","nl":false,"rap":true,"rh":0,"x":350,"y":180,"wires":[["937e6e6c.67e42","c5629cfc.e7d6","8a1f5909.21e8c","a517f98c.1ca658"]]},{"id":"3e95ee91.a5ea9a","type":"mqtt in","z":"9af89546.9e2eb8","name":"humidite 2","topic":"esp2/h2","qos":"0","datatype":"auto","broker":"d3afa9c6.cb671","nl":false,"rap":true,"rh":0,"x":340,"y":500,"wires":[["8eb1d23d.a17a4","7fdf8485.740f7c","37385a51.2e7526","a517f98c.1ca658"]]},{"id":"a2189d17.e14b","type":"ui_gauge","z":"9af89546.9e2eb8","name":"Humidité Sonde 1","group":"4034cee3.0cdb78","order":1,"width":4,"height":3,"gtype":"donut","title":"Sonde 1","label":"%HR","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":400,"wires":[]},{"id":"8eb1d23d.a17a4","type":"ui_chart","z":"9af89546.9e2eb8","name":"Humidité","group":"4034cee3.0cdb78","order":6,"width":10,"height":6,"label":"Humidités","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":460,"wires":[[]]},{"id":"7fdf8485.740f7c","type":"debug","z":"9af89546.9e2eb8","name":"h2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":560,"wires":[]},{"id":"c5629cfc.e7d6","type":"ui_gauge","z":"9af89546.9e2eb8","name":"Température Sonde 2","group":"bb2ad0fe.ebbda","order":3,"width":4,"height":3,"gtype":"gage","title":"Sonde 2","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":180,"wires":[]},{"id":"8a1f5909.21e8c","type":"ui_chart","z":"9af89546.9e2eb8","name":"Température","group":"bb2ad0fe.ebbda","order":6,"width":10,"height":6,"label":"Températures","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":140,"wires":[[]]},{"id":"37385a51.2e7526","type":"ui_gauge","z":"9af89546.9e2eb8","name":"Humidité Sonde 2","group":"4034cee3.0cdb78","order":3,"width":4,"height":3,"gtype":"donut","title":"Sonde 2","label":"%HR","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":500,"wires":[]},{"id":"8cbeb99b.f36b3","type":"inject","z":"9af89546.9e2eb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"temps","payload":"","payloadType":"date","x":130,"y":280,"wires":[["43f732f7.c841f4"]]},{"id":"43f732f7.c841f4","type":"moment","z":"9af89546.9e2eb8","name":"","topic":"t","input":"","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"fr-FR","output":"","outputType":"msg","outTz":"Europe/Brussels","x":330,"y":280,"wires":[["a517f98c.1ca658"]]},{"id":"a517f98c.1ca658","type":"join","z":"9af89546.9e2eb8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"msg.topic","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":280,"wires":[["dbfbea60.3fb0d8"]]},{"id":"3186b516.ce12da","type":"file","z":"9af89546.9e2eb8","name":"","filename":"/users/asus/Documents/Temperature/alex.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1010,"y":280,"wires":[["4fa8d4ce.f5655c"]]},{"id":"4fa8d4ce.f5655c","type":"debug","z":"9af89546.9e2eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":280,"wires":[]},{"id":"dbfbea60.3fb0d8","type":"csv","z":"9af89546.9e2eb8","name":"","sep":",","hdrin":"","hdrout":"once","multi":"one","ret":"\\n","temp":"t,esp1/t1,esp2/t2,esp1/h1,esp2/h2","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":280,"wires":[["3186b516.ce12da"]]},{"id":"d3afa9c6.cb671","type":"mqtt-broker","name":"Raspberry PI","broker":"192.168.0.26","port":"1883","clientid":"ESP","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bb2ad0fe.ebbda","type":"ui_group","name":"Températures","tab":"1c9c32.46dffbcf","order":1,"disp":true,"width":10,"collapse":false},{"id":"4034cee3.0cdb78","type":"ui_group","name":"Humidités","tab":"1c9c32.46dffbcf","order":2,"disp":true,"width":10,"collapse":false},{"id":"1c9c32.46dffbcf","type":"ui_tab","name":"Tableau","icon":"dashboard","order":1,"disabled":false,"hidden":false}]